/* Below classes were used to learn float property */
/* .box {
    height: 100px;
    width: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
} */

/* Global styles */
body {
    margin: 0;
}
/* End Global styles */

/* Nav styles */
.main-nav {
    height: 75px;
    background-color: #333;
}

/* .main-nav:hover {
    height: 85px;
} */

.logo {
    height: 56px;
    padding: 10px;
}

.logo:hover {
    width: 65px;
}

.nav-list {
    float: right;
}

.no-list-style {
    list-style-type: none;
}

li {
    color: #fff;
    float: left;
    padding: 14px 16px;
}

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}
/* End Nav styles */

/* Content styles*/
.content {
    height: 100vh;
    padding: 0 50px;
}

.map-frame {
    width: 100%;
}

.audio {
    width: 300px;
}

.video {
    width: 560px;
}

.margin-0-auto {
    margin: 0 auto;
}

.button {
    border-radius: 10px;
    color: white;
    font-size: 24px;
    padding: 10px;
}

.button-success {
    border: 1px solid #ccc;
    background: green;
}

.button-default {
    background: #ccc;
    color: black;
}

.button-danger {
    width: 250px;
    background: red;
    border: none;
}

.button-small {
    width: 150px;
}

/* End Content styles*/

/* Footer styles */
.footer {
    background-color: brown;
}

.social-media {
    height: 50px;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: none;
}
/* End Footer styles */

/* all devices with screen width <= 768px */
@media (max-width: 768px) {
    .button {
        font-size: 18px;
    }
}

/* between 768px to 1024px, set font-size = 22px */
@media (min-width: 768px) and (max-width: 1024px) {
    .button {
        font-size: 22px;
    }
}

/* screen size = 1024px */
@media (min-width: 1024px) and (max-width: 1024px) {
    .button {
        font-size: 20px;
    }
}
